<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="table-responsive">
				<table class="table table-sm table-hover table-bordered">
					<thead class="bg-dark text-light">
						<tr>
							<th class="text-center" width="100">Actions</th>
							<th class="text-center">Name</th>
							<th class="text-center">Username</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor="let item of credentials; let i = index;">
							<tr *ngIf="ss.shouldListItem(item.tags)">
								<td>
									<div class="d-flex w-100 h-100 px-1 m-0 py-0">
										<a routerLink="{{item.id}}" title="Edit">
											<i class="far fa-edit fa-fw my-auto"></i>
										</a>
										<i class="far fa-clone fa-fw my-auto pointer" title="Clone" (click)="ms.clone(item)"></i>
										<i class="fa fa-trash fa-fw text-danger my-auto ml-auto pointer" aria-hidden="true" title="Delete" (click)="ms.delete(item.id, item.name)"></i>
									</div>
								</td>
								<td>
									<a routerLink="{{item.id}}">{{ item.name }}</a>
								</td>
								<td>{{ item.username }}</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
