<form class="form-inline bg-accent text-dark border-evwarning border-bottom border-top w-100" style="position: fixed; margin-top: -3.4rem; z-index: 100;">
	<div class="form-group form-group-sm">
		<div class="input-group">
			<div class="input-group-prepend">
				<a class="input-group-text border-0 bg-transparent text-capitalize font-weight-bold" routerLink="/admin/{{concept}}" title="{{concept | titlecase}} List">
					<i class="{{icon}}"></i> &nbsp; {{concept}}
				</a>
			</div>
			<select name="itemselector" class="form-control bg-accent border-top-0 border-bottom-0 border-dark rounded-0" (change)="navigateTo($event.target.value)" [ngModel]="ss.currentID">
				<option value="0">Select an item to go to details</option>
				<option *ngFor="let item of items" value="{{item.id}}">{{item.name}}</option>
			</select>
			<div class="input-group-append">
				<button class="btn btn-outline-dark border-top-0 border-bottom-0 border-dark rounded-0" type="button" (click)="create()" title="New Item">
					<i class="fa fa-plus"></i> &nbsp;New
				</button>
			</div>
		</div>
	</div>
	<div class="form-group form-group-sm ml-auto">
		<div class="input-group" *ngFor="let tagGroup of tagGroups">
			<div class="input-group-prepend">
				<span class="input-group-text border-0 bg-transparent text-capitalize font-weight-bold">
					{{tagGroup.name}}
				</span>
			</div>
			<select name="tagselector{{tagGroup.id}}" class="form-control bg-accent border-top-0 border-bottom-0 border-dark rounded-0" (change)="ss.tagChanged(tagGroup.id, $event.target.value)" [ngModel]="ss.selectedTags[tagGroup.id]">
				<option value="0">All</option>
				<ng-container *ngFor="let tagItem of tags">
					<option value="{{tagItem.id}}" *ngIf="tagItem.taggroup == tagGroup.id">{{tagItem.name}}</option>
				</ng-container>
			</select>
		</div>
	</div>
	<button type="button" class="btn btn-default btn-sm mr-2 ml-2 btn-dark">
		<i class="fas fa-question-circle"></i> &nbsp;Help
	</button>
</form>
