<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<form (ngSubmit)="ms.update(credential)">
				<div class="form-group row m-0">
					<label for="cName" class="col-3 col-md-1 col-form-label font-weight-bold">Name:</label>
					<div class="col-9 col-md-11">
						<input type="text" name="cName" class="form-control form-control-sm" [(ngModel)]="credential.name">
					</div>
				</div>
				<div class="form-group row m-0">
					<label for="cUsername" class="col-3 col-md-1 col-form-label font-weight-bold">Username:</label>
					<div class="col-9 col-md-11">
						<input type="text" name="cUsername" class="form-control form-control-sm" [(ngModel)]="credential.username">
					</div>
				</div>
				<div class="form-group row m-0">
					<label for="cPassword" class="col-3 col-md-1 col-form-label font-weight-bold">Password:</label>
					<div class="col-9 col-md-11">
						<div class="input-group input-group-sm">
							<input type="password" name="cPassword" class="form-control form-control-sm" [(ngModel)]="credential.password" (change)="passwordChanged()" (keydown)="passwordChanged()">
							<div class="input-group-append">
								<span class="input-group-text" *ngIf="isRevealed && revealedPassword != ''">{{revealedPassword}}</span>
								<span class="input-group-text" *ngIf="isRevealed && revealedPassword == ''">
									<i class="fas fa-circle-notch fa-spin"></i>
								</span>
								<button class="btn btn-outline-evwarning" type="button" (click)="reveal()" [disabled]="!credential.id">Reveal</button>
							</div>
						</div>
					</div>
				</div>
				<div class=" form-group row m-0 ">
					<label class="col-3 col-md-1 col-form-label font-weight-bold ">&nbsp;</label>
					<div class="col-9 col-md-11 text-right ">
						<div class="btn-group btn-group-sm " role="group ">
							<button type="submit " class="btn btn-outline-primary ">
								<i class="fas fa-save fa-fw "></i> Save
							</button>
							<button class="btn btn-outline-dark " type="button " (click)="ms.clone(credential) ">
								<i class="far fa-clone fa-fw "></i> Clone
							</button>
							<button class="btn btn-outline-danger " type="button " (click)="ms.delete(credential.id, credential.name) ">
								<i class="fas fa-trash fa-fw "></i> Delete
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
