@import './style.variables';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700,800,900');

html, body {
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	background-color: white;
	height: 100%;
}

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

section.content {
	padding-top: 7.4rem;
	// padding-top: 53px;
	// padding-top: 3.571428571428571rem;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.pointer {
	cursor: pointer;
}

.status-bar {
	width: 16px;
	position: fixed;
	right: 0;
	top: 92px;
	bottom: 0;
	z-index: 9999;
}

.ng-invalid:not(form) {
	border-left: 5px solid theme-color("danger") !important;
}

.ng-dirty {
	border-color: theme-color("evwarning") !important;
}
